extends layout

append css
  +stylesheet("about")

block title
   title LivityWorks: About

block main
  p Livity is a Rastafari/Patois term encompassing universal energy forces flowing through all things. To lead a lifestyle which is deeply connected to all things for universal good.
  p Livity Works LLC came about in 2014 so that a small group of truely good, hard working people could conduct a financial life within the heart of Babylon.  We are a collective of individuals engaging in universally good works.
