extends layout

append css
  +stylesheet("bio")
  
block main
  div(class="headers")
    h1 MEET THE TEAM
    h4 (At the base of the largest tree in Maryland)
  section
    img(src="img/ryan_sycamore.jpg")
    p Ryan "Catskill" Pirault was born into the belief of true family and has grown to accept all peoples as family.
    p Ryan holds over 80 college credits, mostly in biology &amp; music. As well as holding a permaculture design certificate from the Permaculture Project LLC. Permaculture's basic principles are care of earth, care of people, and care of surplus.
  section
    img(src="img/roots_sycamore.jpg")
    p Matt "Roots" Craig is a tree climbing, soil scientist, ital farmer.
    p Matt has traveled all around the earth studying ecology, botany &amp; soils.  He has worked on numerous large scale production farms and climbed some of the tallest trees on earth.  Matt was the first documented American to ascend the tallest measured tropical tree on earth.
