extends layout

append css
  +stylesheet("contact")

block main
  div(class="group")
    div(class="label") E-mail
    div(class="value") #[b Ryan.Pirault]@LivityWorksLLC.com
  div(class="group")
    div(class="label") Phone
    div(class="value") 571.278.5286
