extends layout

block main
  div#guggenheim-container
    div(class="guggenheim-slider")
      div(class="guggenheim-item")
        img(src="img/SpiralGarden1/1.jpg")
      div(class="guggenheim-item")
        img(src="img/SpiralGarden1/2.jpg")
      div(class="guggenheim-item")
        img(src="img/SpiralGarden1/3.jpg")
      div(class="guggenheim-item")
        img(src="img/SpiralGarden1/4.jpg")
      div(class="guggenheim-item")
        img(src="img/SpiralGarden1/5.jpg")
      div(class="guggenheim-item")
        img(src="img/SpiralGarden1/6.jpg")
      div(class="guggenheim-item")
        img(src="img/SpiralGarden1/7.jpg")
      div(class="guggenheim-item")
        img(src="img/SpiralGarden1/8.jpg")
      div(class="guggenheim-item")
        img(src="img/SpiralGarden1/9.jpg")
      div(class="guggenheim-item")
        img(src="img/SpiralGarden1/10.jpg")
