extends layout

append css
  +stylesheet("gardening")

block main
  h1 Design / Implementation / Instruction / Consulting
  h2 Engage your property, revitalizing it. Empower yourself.
  div(class="bubbles")
    p(class="bubble") Native &amp; perennial systems. Soil building/interaction, permaculture techniques and plant/insect/animal relationship building/mitigation.
    p(class="bubble") Ideally you would work with us to engage your property. Empowering and/or revitalizing it and you.
    p(class="bubble") We'll consult with you to help expand your ideas and advise them in a mindful way. Giving you up-to-date, educated &amp; insightful knowledge to allow you to confidently make decisions, guaranteeing you are in tune with your surroundings and making the conscious decisions for you &amp; your land's health.
    p(class="bubble") Let Livity Works LLC design your whole property to increase it's value and utility.  Increase it's diversity and health.  Let professional health-conscious farmers plan your future organic garden.
    p(class="bubble") Custom Maintenance packages available.
