head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")

  block title
    title Livityworks LLC: #{route.label}
  
  block css
    +stylesheet("main")
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Tenor+Sans|Josefin+Slab|Great+Vibes|Marck+Script|Playball|Pompiere|Raleway" rel="stylesheet">
