extends layout.pug

append css
  +stylesheet("index")
  
block main
  h1
    img(src="/img/livity-logo/livity_logo.svg" alt="LivityWorks LLC logo" class="full")
    img(src="/img/livity-logo/livity_logo_clipped.svg" alt="LivityWorks LLC logo" class="clipped")
  h2 Specializing in Tree Care and Landscape Design
  h3: span NOVA's most honest plant professional
