extends layout

append css
  +stylesheet("intl_tree_climbing")

block main
  h1 &ndash;International&nbsp;Tree&nbsp;Climbing&ndash;<br>Eco&hyphen;tourism, Research &amp; Exploration
  h2: p Collectively we&rsquo;ve been climbing trees for over 50 years.
  div(class="bubbles")
    p(class="bubble") Let Livity Works LLC design an itinerary just for you. Everything from flights, board, food to destination and experiences. We will tailor an adventure of a lifetime.
    p(class="bubble") Have a research interest/project and need to get into the trees? The team at Livity Works LLC has you covered with safety being our number one priority.
    p(class="bubble") Since all international tree climbing expeditions are unique to each other in detail, please reach out through email at least three months in advance.

  p: em Tree Climbing references/experiences upon request.
  div(class="images")
    div(class="image")
      span(class="label") Can you find Ryan?
      img(src="img/ryan_strangler_fig_small.jpg")
    div(class="image")
      span(class="label") Roots
      img(src="img/roots_strangler_fig_small.jpg")
