include mixins.pug

doctype html

html(lang="en")
  include head
    
  body
    header
      unless isHome
        img(src="/img/livity_logo_brand.png" class="brand")
      span(id="menu" class="menu")
    nav
      ul
        each tab in tabs
          li
            a(href=tab.route)= tab.label
    main
      block main

    footer
      block footer
        span &copy; LivityWorks LLC  

    block script
      script(src="/js/main.js")
