extends layout

append css
  +stylesheet("philosophy")

block main
  p Livity Works consider all work done and all people involved to be of a higher purpose. With this belief, consideration is taken in evaluating the best practices and methods to work. First &amp; foremost we want you, our client, happy. This is our main priority. We also want the environment we inhabit happy. Our bodies happy, healthy &amp; safe. Our outlook goes deep into the metaphysical energies surrounding your request of us. We have found that people who find this outlook enjoyable and manageable are a joy to work with, and for.
  blockquote &ldquo;Our highest endeavor must be to develop free human beings who are able of themselves to impart purpose and direction to their lives.  The need for imagination, a sense of truth, and a feeling of responsibility &ndash; these three forces are the very nerve of education.&rdquo;&thinsp;&ndash;&thinsp;#[span(class="author") Rudolf Steiner]
