extends layout

append css
  +stylesheet("testimonials")

block main
  h1 Testimonials
  each testimonial in testimonials
    section
      div(class="container")
        div(class="info")
          div(class="date")= testimonial.date
          div(class="location")= testimonial.location
          div(class="client")= testimonial.client
        div(class="review")
          blockquote= testimonial.review
          img(src="/img/zondicons/thumbs-up.svg" class="thumb-up")
