extends layout

append css
  +stylesheet("tree_care")

block main
  h2: p: em Serving Northern Virginia for over 10 years with professional all around tree care.
  ul
    li Dead Limbing
    li Surgical Pruining
    li Complete takedowns
    li Surveying &amp; tree identification
    li Native restoration
    li Licensed &amp; Insured
