.headers {
  margin: 1em 0;
  font-family: "Josefin Slab", serif;
}
h1, h4 {
  text-align: center;
}
h4 {
  white-space: nowrap;
}
section {
  text-align: center;
}
@media (min-width: 30rem) {
  section img {
    max-width: 25rem;
  }
}
