main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
  border-bottom: 0.05em solid black;
}
.group .label {
  font-style: italic;
}
