h1, h2 {
  margin-top: 0.5em;
}
h2 {
  text-align: center;
}
.bubble:nth-child(1) { }
.bubble:nth-child(2) { }
.bubble:nth-child(3) { }
.bubble:nth-child(4) { }
.bubble:nth-child(5) {
  margin-bottom: 0;
  padding: 0.5em;
  border: 0.3em solid black;
  border-left: none;
  border-right: none;
  text-align: center;
  background-color: rgba(0, 63, 151, 0.7);
}
