body {
  background-color: #009758;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%2300704f' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
header {
  margin-bottom: 0;
}
main {
  padding: 0;
  position: relative;
  max-width: unset;
}
h1 {
  margin: 0;
  height: 100%;
}
h1 img.clipped {
  display: none;
}
h2, h3 {
  font-weight: normal;
  position: absolute;
}
h2 {
  font-family: "Pompiere", sans-serif;
  width: 100%;
  bottom: 1.5em;
  font-size: 1.5em;
  text-shadow: 0.1em 0.1em 1.5em white;
  text-align: center;
}
h3 {
  box-sizing: border-box;
  width: 100%;
  font-family: "Raleway", sans-serif;
  padding: 0.5em;
  background-color: #ABD986;
  text-shadow: 0 0 2em white;
}
h3 span {
  display: inline-block;
  width: 80%;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
@media (min-width: 30rem) {
  h2 {
    bottom: 1em; 
    font-size: 2em;
  }
}
@media (min-width: 50rem) {
  h1 img.full { display: none; }
  h1 img.clipped { display: inline-block; }
  h2 {
    bottom: 0.5em; 
  }
}
