.bubbles {
  max-width: 40rem;
  margin: 0 auto;
}
.bubble {
  text-indent: 2em;
  background-repeat: no-repeat;
  background-size: 1.4em;
  background-position: 0.5em 0;
  text-align: left;
}
.bubble:nth-child(1) {
  background-image: url(/img/zondicons/airplane.svg);
}
.bubble:nth-child(2) {
  background-image: url(/img/zondicons/hand-stop.svg);
  background-image: url(/img/zondicons/location-park.svg);
}
.bubble:nth-child(3) {
  background-image: url(/img/zondicons/calendar.svg);
}
.image {
  position: relative;
  text-align: center;
}
.image .label {
  box-sizing: border-box;
  position: absolute;
  background-color: white;
  color: black;
  left: 50%;
  bottom: 20%;
  transform: translateX(-50%);
  padding: 0.1em;
  width: 100%;
  max-width: 500px; /* image width */
  text-align: center;
  font-weight: bold;
  font-family: "Tenor Sans", sans-serif;
}
p {
  text-indent: unset;
  text-align: center;
}
