blockquote {
  font-family: "Marck Script", cursive;
  font-size: 1.4em;
  line-height: 1.2;
  border-left: 0.35em solid black;
  padding: 0.5em;
  border-radius: 10%;
  background-color: rgba(255, 255, 255, 0.6);
  letter-spacing: -0.01em;
  word-spacing: -0.15em;
}
.author {
  font-weight: bold;
}
