.bio > header {
  font: 1.1em cursive;
  text-align: center;
}
.bio > header > h1 {
  margin: 0;
}
.bio > div {
  clear: right;
}
.bio > div:not(:last-child) {
  padding-bottom: 1em;
  margin-bottom: 1em;
}
.bio img {
  width: 100%;
}
@media (min-width: 768px) {
  .bio > header {
    margin-bottom: 2em;
  }
  .bio img {
    width: 40%;
    margin: 0.5em;
  }
  .bio img.right {
    float: right;
  }
  .bio img.left {
    float: left;
  }
}
