.carousel-title {
  color: white;
  text-align: center;
  margin-bottom: 0;
}
.carousel {
  background-color: #1D853E;
  height: 400px;
}
.carousel .item img {
  height: 300px;
  margin: 0 auto;
}
.carousel-indicators {
  bottom: 0;
}
.carousel-indicators li {
  height: 20px;
  width: 20px;
}
.carousel-indicators .active {
  height: 5px;
  width: 20px;
}
@media (min-width: 768px) {
  .carousel {
    height: 600px;
  }
  .carousel .item img {
    height: 500px;
  }  
  .carousel-indicators {
    bottom: 20px;
  }
}
