.gardening {
  background: url("/img/intricate_design.jpg");
  background-size: cover;
  min-height: 800px;
  text-align: center;
}
.gardening .title {
  margin-bottom: 2em;
  text-shadow: -1px 0 1px white;
}
.gardening ul {
  list-style-type: none;
}
.gardening li {
  text-shadow: 0 10px 10px white, 10px 0 10px white, 0 -10px 10px white, -10px 0 10px white, 0 14px 10px white, 14px 0 10px white, 0 -14px 10px white, -14px 0 10px white;
  font-weight: bold;
}
