.intl-tree-climbing .magnifier-thumb-wrapper {
  display: inline-block;
  /*float: left;*/
}
.intl-tree-climbing .images {
  /*display: flex;*/
  
}

.magnifier-image-prompt {
  position: absolute;
  color: white;
  letter-spacing: 5px;
  font-size: 2em;
  width: 100%;
  text-align: center;
}
