@import url(https://fonts.googleapis.com/css?family=Skranji);

/* angular-ui removes empty href's which bootstrap relies on for the pointer */
/* See "Getting Started": https://angular-ui.github.io/bootstrap/  */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* bootstrap overrides */
.jumbotron {
  background-color: #fff;
}
blockquote {
  border-left-color: #fff;
}
.navbar-default .navbar-nav > .active > a {
  border: 1px dotted white;
  color: #FEFFFE !important;
  background-image: -webkit-linear-gradient(bottom, #19B03F 50%, #7CDB34 100%);
  background-image: -o-linear-gradient(bottom, #19B03F 50%, #7CDB34 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#19B03F), to(#7CDB34));
  background-image: linear-gradient(to top, #19B03F 50%, #7CDB34 100%);
}
.well {
  background-image: -webkit-linear-gradient(top, #e8ffe8 0%, #f5fff5 100%);
  background-image: -o-linear-gradient(top, #e8ffe8 0%, #f5fff5 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e8ffe8), to(#f5fff5));
  background-image: linear-gradient(to bottom, #e8ffe8 0%, #f5fff5 100%);
}
.navbar {
  margin-bottom: 0;
}
.navbar-brand {
  height: auto;
  padding: 0;
}
.navbar-brand img {
  height: 83px;
}
.navbar-toggle {
  float: none;
  margin: auto;
}
.navbar-header .navbar-toggle {
  border: 0;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #000;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #fff;
}
.navbar-default .navbar-toggle:focus.collapsed {
  background-color: inherit;
}
/* end bootstrap overrides */

.navbar-header {
  background-color: #1D853E;
}
.navbar-toggle {
  position: absolute;
  top: calc(75px/2);
  right: 1rem;
  transform: translateY(-50%);
}
.navbar-nav .active a {
  border-radius: 3em;
}
@media (min-width: 768px) {
  .navbar-collapse.collapse {
    height: 75px !important;
    background-color: #1D853E;
  }
  .navbar-nav {
    position: relative;
    transform: translateY(-50%);
    display: inline-block;
    float: none;
  }
  .navbar-nav a {
    color: #FEFFFE !important;
  }
  .navbar-default {
    border: none;
    background-image: -webkit-linear-gradient(top, #1D853E 80%, #f8f8f8 100%);
    background-image: -o-linear-gradient(top, #1D853E 80%, #f8f8f8 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1D853E), to(#f8f8f8));
    background-image: linear-gradient(to bottom, #1D853E 80%, #f8f8f8 100%);
  }
  .navbar-header {
    text-align: center;
    float: none;
  }
  .jumbotron p {
    font-size: 40px;
  }
}

.jumbotron p {
  font-weight: normal;
}

body {
  font-size: 20px;
}
#livity-nav {
  text-align: center;
}
img[src$="livity_logo.png"] {
  width: 100%;
  max-width: 1195px;
}

[ng-view] h2 {
  margin-top: 0;
}
[ng-view] li:not(:last-child) {
  margin-bottom: 12px;
}
[ng-view] .carousel-indicators li {
  margin-bottom: 0;
}
