.philosophy {
  background-image: url("/img/bio.jpg");
  background-size: cover;
  min-height: 800px;
}
.philosophy p {
  color: white;
  text-shadow: 0 0 14px black;
  background-color: #1D853E;
  border-radius: 0;  
}
