.review span {
  display: table;
}

.review:not(:last-child) {
  margin-bottom: 1em;
  border-bottom: 0.1em solid black;
  padding-bottom: 1em;
}
.review p {
  margin: 1em;
}
.review p:before {
  content: open-quote;
  font-size: 1.3em;
  font-family: "Times New Roman", serif;
}
.review p:after {
  content: close-quote;
  font-size: 1.3em;
  font-family: "Times New Roman", serif;
}
.review .date {
  border: 0.1em solid black;
  padding: 0.4em;
  background-color: #afa;
  font-style: italic;
}
.review .location {
  margin: -0.1em 0 1em 2em;
  border: 0.1em solid black;
  padding: 0.4em;
  background-color: #1D853E;
}
.review .client {
  margin-left: 1em;
  font-weight: bold;
}

