<section class="well-lg">
  <p class="about">Livity is a Rastafari/Patois term encompassing universal energy forces flowing through all things. To lead a lifestyle which is deeply connected to all things for universal good.</p>
  <p class="about">Livity Works LLC is a collective of individuals engaging in universally good works. Works that are a gift to all involved and resonate a higher purpose. Whether it's bringing organic food/herb cultivation to your porch, bringing a dead standing lignin giant down &amp; removed from your property, to entertaining your guests, on the most important day of your life. Our work and portfolio is ever evolving to encompass all works deemed Livity Works.</p>
  <p class="about">Livity Works LLC came about in 2014 so that a small group of truely good, hard working people could conduct a financial life within the heart of Babylon.  We are a collective of individuals engaging in universally good works.</p>
</section>
