<link rel="stylesheet" href="css/bio.css">

<section class="bio well-lg">
  <header>
    <h1>MEET THE TEAM</h1>
    <h4>(At the base of the largest tree in Maryland)</h4>
  </header>
  <div>
    <img class="right" src="img/ryan_sycamore.jpg">
    <p>Ryan "Catskill" Pirault was born into the belief of true family and has grown to accept all peoples as family.</p>
    <p>Ryan holds over ninety college credits, mostly in biology &amp; music. As well as holding a permaculture design certificate from the Permaculture Project LLC. Permaculture's basic principles are care of earth, care of people, and care of surplus.</p>
  </div>
  <div>
    <img class="left" src="img/roots_sycamore.jpg">
    <p>Matt "Roots" Craig is a tree climbing, soil scientist, ital farmer.  <!--Bringing over a decade of experience in these fields.--></p>
    <p>Matt has traveled all around the earth studying ecology, botany &amp; soils.  He has worked on numerous large scale production farms and climbed some of the tallest trees on earth.  Matt was the first documented American to ascend the tallest measured tropical tree on earth.</p>
  </div>
</section>
