<link rel="stylesheet" href="css/contact.css">

<section class="contact">
  <p class="emails">
    E-mail
    <span><strong>Ryan.Pirault</strong>@LivityWorksLLC.com</span>
    <span><strong>Roots</strong>@LivityWorksLLC.com</span>
  </p>
  <p class="phone">
  Phone
    <span>five 7 one, two-seven-eight, 5 two eight 6</span> :)
  </p>
</section>
