<section class="well-lg">
  <h2>Live Entertainment &amp; DJing - Weddings/Events</h2>
  <ul>
    <li>Ryan brings over a decade of holding down the one's and two's to the table, specializing in funk &amp; reggae.</li>
    <li>Ryan also keeps it classy for your traditional special day of union. Until the reception is over of course, then he'll keep your guests moving until the venue has to close us out! Selecting whatever you desire for your special day, any song, and any genre.</li>
  </ul>

  <p><em>DJ references upon request.</em></p>
</section>
