<link rel="stylesheet" href="css/gallery.css">

<section data-livity-gallery>
  <div id="spiral-garden-1" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#spiral-garden-1" data-slide-to="0" class="active"></li>
      <li data-target="#spiral-garden-1" data-slide-to="1"></li>
      <li data-target="#spiral-garden-1" data-slide-to="2"></li>
      <li data-target="#spiral-garden-1" data-slide-to="3"></li>
      <li data-target="#spiral-garden-1" data-slide-to="4"></li>
      <li data-target="#spiral-garden-1" data-slide-to="5"></li>
      <li data-target="#spiral-garden-1" data-slide-to="6"></li>
      <li data-target="#spiral-garden-1" data-slide-to="7"></li>
      <li data-target="#spiral-garden-1" data-slide-to="8"></li>
      <li data-target="#spiral-garden-1" data-slide-to="9"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="img/SpiralGarden1/1.jpg">
      </div>
      <div class="item">
        <img src="img/SpiralGarden1/2.jpg">
      </div>
      <div class="item">
        <img src="img/SpiralGarden1/3.jpg">
      </div>
      <div class="item">
        <img src="img/SpiralGarden1/4.jpg">
      </div>
      <div class="item">
        <img src="img/SpiralGarden1/5.jpg">
      </div>
      <div class="item">
        <img src="img/SpiralGarden1/6.jpg">
      </div>
      <div class="item">
        <img src="img/SpiralGarden1/7.jpg">
      </div>
      <div class="item">
        <img src="img/SpiralGarden1/8.jpg">
      </div>
      <div class="item">
        <img src="img/SpiralGarden1/9.jpg">
      </div>
      <div class="item">
        <img src="img/SpiralGarden1/10.jpg">
      </div>
      <h2 class="carousel-title">Spiral Garden 1</h2>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#spiral-garden-1" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#spiral-garden-1" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
<!---->
  <div id="sheet-mulch-1" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#sheet-mulch-1" data-slide-to="0" class="active"></li>
      <li data-target="#sheet-mulch-1" data-slide-to="1"></li>
      <li data-target="#sheet-mulch-1" data-slide-to="2"></li>
      <li data-target="#sheet-mulch-1" data-slide-to="3"></li>
      <li data-target="#sheet-mulch-1" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="img/SheetMulch1/1.jpg">
      </div>
      <div class="item">
        <img src="img/SheetMulch1/2.jpg">
      </div>
      <div class="item">
        <img src="img/SheetMulch1/3.jpg">
      </div>
      <div class="item">
        <img src="img/SheetMulch1/4.jpg">
      </div>
      <div class="item">
        <img src="img/SheetMulch1/5.jpg">
      </div>
      <h2 class="carousel-title">Sheet Mulch 1</h2>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#sheet-mulch-1" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#sheet-mulch-1" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div>
  </div>
</section>
