<link rel="stylesheet" href="css/gardening.css">

<section class="well-lg gardening">  
  <h2 class="title">Garden - Consulting / Design / Installation / Maintenance</h2>
  <ul>
    <li>Native &amp; perennial systems. Soil building/interaction, permaculture techniques and plant/insect/animal relationship building/mitigation.</li>
    <li>Ideally you would work with us to engage your property. Empowering and/or revitalizing it and you.</li>
    <li>We'll consult with you to help expand your ideas and advise them in a mindful way. Giving you up-to-date, educated &amp; insightful knowledge to allow you to confidently make decisions, guaranteeing you are in tune with your surroundings and making the conscious decisions for you &amp; your land's health.</li>
    <li>Let Livity Works LLC design your whole property to increase it's value and utility.  Increase it's diversity and health.  Let professional health-conscious farmers plan your future organic garden.</li>
    <li>Custom Maintenance packages available.</li>
  </ul>
</section>
