<link rel="stylesheet" href="css/intl-tree-climbing.css">

<section class="intl-tree-climbing well-lg">
  <p>Collectively we've been climbing trees for over 50 years.</p>
  <ul>
    <li>International Tree Climbing - Eco-tourism, Research &amp; Exploration.</li>
    <ul>
      <li>Let Livity Works LLC design a canopy expedition tailored to your interests. Everything from flights, board and eats to destinations and experiences.</li>
      <li>Have a research interest/project and need to get into the trees? The team at Livity Works LLC has you covered with safety being our number one priority.</li>
      <li>Since all international tree climbing expeditions are unique to each other in detail, please reach out through email at least one year in advance.</li>

    </ul>
  </ul>

  <p><em>Tree Climbing references/experiences upon request.</em></p>
  <div class="images">
    <div class="magnifier-thumb-wrapper">
      <span class="magnifier-image-prompt">Can you find Ryan?</span>
      <img id="ryanStranglerFig" src="img/ryan_strangler_fig_small.jpg">
    </div>
    <div class="magnifier-thumb-wrapper">
      <span class="magnifier-image-prompt">Roots</span>
      <img id="rootsStranglerFig" src="img/roots_strangler_fig_small.jpg">
    </div>
  </div>
  <script>
    m.attach({
      thumb: '#ryanStranglerFig',
      large: 'img/ryan_strangler_fig.jpg',
      mode: 'inside',
      zoom: 3,
      zoomable: true
    })
    m.attach({
      thumb: '#rootsStranglerFig',
      large: 'img/roots_strangler_fig.jpg',
      mode: 'inside',
      zoom: 3,
      zoomable: true
    })
  </script>
</section>
