<ul class="sections">
  <li>Positive Life Referrals</li>
  <ul>
    <li>-Yoga</li>
    <li>-Meditation</li>
    <li>-Herbalism</li>
    <li>-Alternative Wellness</li>
    <li>-Eco-conscious clothing coming soon</li>
    <li>Livity Works LLC can recommend you to an experienced professional in all things life positive. A large part of our mission is to raise consciousness in everyone around us.</li>
  </ul>
</ul>
