<link rel="stylesheet" href="css/testimonials.css">

<section class="review">
  <span class="date">Oct 2016</span>
  <span class="location">Winchester, VA</span>
  <span class="client">David L.</span>
  <p>Ryan and his staff did a great job of removing one very large dead tree and four overgrown shrubs.  The size of the job did not deter them and they stuck with it till completed.  The job site was left clean and neat.  Ryan was professional, hardworking and courteous!</p>
</section>

<section class="review">
  <span class="date">Aug. 2016</span>
  <span class="location">Bristow, VA</span>
  <span class="client">Tony D.</span>
  <p>Ryan did a good job of cutting down my tree and removed the tree stump.</p>
</section>

<section class="review">
  <span class="date">March 2016</span>
  <span class="location">Stafford, VA</span>
  <span class="client">Alan P.</span>
  <p>I had a large dead branch hanging over my house, posing a risk to my home. The guys came out quickly and safely removed the branch at a very fair price. They even pruned a few other dead branches that I didn't see.</p>
</section>

<section class="review">
  <span class="date">Dec 2015</span>
  <span class="location">Manassas, VA</span>
  <span class="client">Dutch W.</span>
  <p>Trimmed a large oak in close proximity to 3 townhouses. Only cut off what was needed and worked cleanly and quickly.</p>
</section>
