<section class="well-lg tree-care">
  <h2><em>Serving northern Virginia for over 10 years with professional all around tree care.</em></h2>  
  <ul>
    <li>Dead Limbing</li>
    <li>Surgical Pruining</li>
    <li>Complete takedowns</li>
    <li>Surveying &amp; tree identification</li>
    <li>Native restoration</li>
    <li>Licensed &amp; Insured</li>
  </ul>
</section>
